.git
.github
.gitignore
node_modules
vendor
docs
.hermes
*.tar.gz
*.sql
*.sqlite
.env
.env.*
!.env.production.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/private/*
tests
phpunit.xml
